html{
  width: 100%;
  height: 99%;
  margin-bottom: 0.01em;
}

body
{
	margin: 0;
	font: 15px segoe ui, verdana, arial, sans-serif;
	height: 100%;
	width: 100%;
	background-color: #D8E4EE;
	overflow:auto;
}

#frame
{
	position: apsolute;
	border-radius:25px;
	height: 86%;
	width: 100%;
}

#header
{
	padding:0.1% 25% 0.1% 25%;
	background-color: #01B6AD;
}

#body
{
	padding:1% 20% 3% 20%;
	position: relative;
	background-color: #D8E4EE;
	min-height: 87%;
	
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

#videos
{
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#about
{	
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	
}

#artist
{	
	padding-top: 3%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	
}

#tags
{	
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#albums
{	
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


p
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#searching
{	
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#events
{	
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#return
{	
	padding-top: 2%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#map-canvas 
{
    width: 70%;
    height: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contentInfo
{
	width:500px;
	height:100px;
}